/*----------------------------*/
/*CONFIGURACION BASICA*/
/*----------------------------*/

*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing:;
    box-sizing: border-box;

    
}

html{
    background-color: #fff;
    color: #555;
    font-family: 'Lato','Arial',sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
     
}

/*----------------------------*/
/*COMPONENTES REUSABLES/
/*----------------------------*/
.row{
    max-width: 1140px;
    margin: 0 auto;
}

.ib{
    font-size: 350%;
    display: block;
    color: #27ae60;
    margin-bottom: 10px;
}

h1{
     margin-top: 0;
     margin-bottom: 20px;
     color: #000;
     font-size: 240%;
     word-spacing: 4px;
}

h1,h2,h3{
   
    
    
    
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1px;
}




h1{
    margin-top: 0;
    margin-bottom: 20px;
    color: #fff;
    font-size: 200%;
    font-weight: 300;
    text-transform: uppercase;
    word-spacing: 4px;
    
}


h2{
    font-size: 180%;
    word-spacing: 2px;
    text-align: center;
    margin-bottom: 30px;
}


h2:after{
    display: block;
    height: 2px;
    background-color: #27ae60;
    content:"    ";
    width: 100px;
    margin: 0 auto;
    margin-top: 30px;
}

h3{
    font-size: 110;
    margin-bottom: 15px;
}

.lc{
    
    line-height: 145%;
    width: 70%;
    margin-left: 15%;
    }
/*----------------------------*/
/*BOTONES*/
/*----------------------------*/

.btn:link,.btn:visited{
    display: inline-block;
    padding: 10px 30px;
    font-weight: 300;
    text-decoration: none;
    border-radius: 200px;
    transition:  background-color 0.2s, border 0.2s,color 0.2s;
    
}

.btn:hover,.btn:active{
    background-color: #1b7741;  
    
     
}

.btn-full:link,.btn-full:visited{
    background-color: #27ae60;
    border: 1px solid #27ae60;
    color: #fff;
    margin-right: 15px;
    
    
    
}

.btn-ghost:link,.btn-ghost:visited{
    border: 1px solid #27ae60;
    color: #27ae60;
}

.btn-full:hover,.btn-full:active{
    
    border: 1px solid #1b7741;
   
    
}

.btn-ghost:hover,.btn-ghost:active{
    border: 1px solid #1b7741;
    color: #fff;
}



/*----------------------------*/
/*HEADER*/
/*----------------------------*/

header{
   
    background-image: -webkit-gradient(linear,left top, left bottom,from(rgba(0, 0, 0, 0.85)),to(rgba(0, 0, 0, 0.85))), url(recursos/img/head.jpg);
   
    background-image: linear-gradient(rgba(0, 0, 0, 0.6),rgba(0, 0, 0, 0.6)), url(img/head.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
        

}

.eslogan-tex-box{
    
    position: absolute;
    width: 1140px;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50,-50);
    transform: translate(-50%,-50%);*/
}

.logo{
    height: 100px;
    width: auto;
    float: left;
    margin-top: 20px;
    
}

.main-nav   {
    float: right;
    list-style: none;
    margin-top: 55px;
    
}
.main-nav li{
    display: inline-block;
    margin-left: 4px;
    
}

.main-nav li a:link,.main-nav li a:visited {
    padding: 8px 0;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 90%; 
     border-bottom: 2px solid transparent; 
    transition: border-bottom 0.2s;
}


.main-nav li a:hover,.main-nav li a:active{
    border-bottom: 2px solid #27ae60; 
} 

.

.sect {
    padding: 80px 0;
    
    }

.sect .lc{
    margin-bottom: 30px;
    margin-top: 15px;
}

.sticky{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgb(255,2555,255,0.99);
    box-shadow: 0 2px 2px #b5b4b4;
    z-index: 9999;

}


.sticky .main-nav li a:link,.sticky .main-nav li a:visited {
    padding: 16px 0;
    color: #555;
    
        
}

.sticky .main-nav{margin-top: 18px;}
.sticky .logo{
    display: none;
}
.sticky .logo-black{
    display: block;
    
}
    


.sect{
    padding: 0;
}

.box{
    padding: 1%; 
}

.box p{
    font-size: 90%;
    line-height: 145%;
        
}


/*Fotos*/
.fotos{
    
    padding: 0;
    
}
.fotos-show {
    list-style: none;
    width: 100%;
    
}

.fotos-show li{
    display: block;
    float: left;
    width: 25%;
}

.fot{
    width: 100%;
    margin: 0;
    overflow: hidden;
    background-color: #000;
    
}

.fot img{
    opacity: 0.7;
    width: 100%;
    height: 250px;
    -webkit-transform: scale(1.15);
    transform: scale(1.15);
    -webkit-transition: opacity 0.5s, -webkit-transform 0.5s;
    transition: opacity 0.5s, -webkit-transform 0.5s;
    transition: transform 0.5s, opacity 0.5s;
    transition: transform 0.5s, opacity 0.5s, -webkit-transform 0.5s;
        
}

.fot img:hover{
    -webkit-transform: scale(1.03);
    transform: scale(1.03);
}

.fot-ss{
width: 100%;
   
}

/*Instupciones*/
.pasos-box{
    margin-top: 30px;

}

.pasos-box:first-child{
    text-align: right;
    padding-right: 3%;


}

.pasos-box:last-child{
    padding-left: 3%;
    margin-top: 70px;

}


.wors-s{
    margin-bottom: 50px;

}

.wors-s div{
    color: #27ae60;
    border: 2px solid #27ae60;
    display: inline-block;;
    border-radius: 50%;
    height: 55px;
    width: 55px;
    text-align: center;
    float: left;
    font-size: 150%;
    margin-right: 25px;

}

/*Testimonios*/
.revi-clientes{
    background-image:linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)),url(img/quots.jpg);
    background-size: cover;
    background-attachment: fixed;
    color: #fff;
}

blockquote{
    padding: 2px;
    font-style: italic;
    line-height: 145%;
    position: relative;
    margin-top: 40px;
}

cite{
    font-size: 90%;
    margin-top: 25px;
    display: block;
}

blockquote:before{
    content: "\201C";
    font-size: 500%;
    display: block;
    position: absolute;
    top: -5px;
    left: -5px;
    }


    /*Rerservacion*/
    .section-p{
    background-color: #f4f4f4;
}

.plans-box{
    background-color: #fff;
    border-radius: 5px;
    width: 90%;
    box-shadow: 0 2px 2px #f5f5f5;
}

.plans-box div{
    padding: 15px;
    border-bottom: 1px solid #e3dfdf;
}

.plans-box div:firts-child{
    background-color: #f5f4f4;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;


}

.plans-box div:last-child{
    text-align: center;
    border:0;

}

.plan-price{
    font-size: 300%;
    margin-bottom: 10px;
    font-weight: 100;
    color: #27ae60;

}

.plan-price span {
    font-size: 30%;
    font-weight: 300;

}

.plans-box ul{
    list-style: none;
    
    
    
}

.plans-box ul li{
    padding: 5px 0;
    
    
    
}

/*Form*/
.contact{
    width: 60%;
    margin: 0 auto;
}


input[type=text],input[type=email],select,textarea{
    width: 100%;
    padding: 7px;
    border-radius: 3px;
    border: 1px solid #bcbcbc
    }

    textarea{
        height: 100px;
    }

    input[type=checkbox]{
        margin: 10px 5px 10px 0;
    }

    *:focus{
        outline: none;
    }


    /*Footer*/
    footer{
        background-color: #333;
        padding: 45px;
        font-size: 80%;
    }

    .footer-nav{
        list-style: none;
        float: left;
    }

    .social-l{
        list-style: none;
        float: right;
    }

    .footer-nav li,.social-l li{
        display: inline-block;
        margin-right: 20px
    }


    .footer-nav li:last-child, .social-li li:last-child{
        margin-right: 0;
    }


    .footer-nav li a:link, .footer-nav li a:visited,.social-l li a:link,.social-l li a:visited{
        text-decoration: none;
        border:none;
        color: #888;
        transition: color 0.2s;
    }

    .footer-nav li a:hover,footer-nav li a:active{
    color: #ddd;
    
        
}

.social-l li a:link,.social-l li a:visited{
    font-size: 160%;
    
    
}

.ion-social-facebook-outline:hover{
    color: #3b5958;
}
.ion-social-twitter-outline:hover{
    color: #00aced;
}
.ion-social-instagram-outline:hover{
    color: #517fa4;
}

.ion-social-googleplus-outline:hover{
    
    color: #dd4a39;
}

.ion-social-facebook-outline,
.ion-social-twitter-outline,
.ion-social-instagram-outline,
.ion-social-googleplus-outline{
    -webkit-transition: color 0.2s;
    transition: color 0.2s
}

footer p{
    color: #888;
    text-align: center;
    margin-top: 20px;
    
    
}


/*animaciones*/
.js-row-se,.js-foto{
    opacity: 0;
    animation-duration: 1s;
}

.js-sect-p{
    animation-duration: 1s;
}

.js-row-se .animated,.js-foto .animated,.js-plans .animated{
    opacity: 1;
}
